@import "tailwindcss";

body {
  background: #101d40;
  color: #c0c6d7;
}

html {
  scroll-behavior: smooth;
}

.typewriter-wrapper {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

.typewriter {
  display: inline-block;
  border-right: .12em solid currentColor; 
  padding-right: .05em;
  box-sizing: content-box;
  width: 0ch;
  animation: typing 3s steps(18) forwards, blinkCaret .7s step-end infinite;
}

@keyframes typing {
  from { width: 0ch; }
  to   { width: 18ch; } 
}

@keyframes blinkCaret {
  0%, 100% { border-color: transparent; }
  50% { border-color: currentColor; }
}


.blur-heading {
    backdrop-filter: blur(15px);
  }